<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
  </head>
  <body class="font-poppins bg-customGray">
    <div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 mx-auto">
      <div class="bg-white rounded-xl shadow p-4 sm:p-7">
        <div class="mb-8">
          <h2 class="text-xl font-bold text-gray-800">Profile</h2>
          <p class="text-sm text-gray-600">
            Manage your name, password and account settings.
          </p>
        </div>

        <form id="changeProfileForm" action="/ubahProfile" method="POST" enctype="multipart/form-data">
          <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
            <div class="sm:col-span-3">
              <label for="af-account-full-name" class="inline-block text-sm text-gray-800 mt-2.5">
                Nama
              </label>
            </div>

            <div class="sm:col-span-9">
              <div class="sm:flex">
                <input id="af-account-email" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" value="<%= user.nama %>" disabled />
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5">
                Username
              </label>
            </div>

            <div class="sm:col-span-9">
              <input id="af-account-email" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" value="<%= user.username %>" disabled />
            </div>

            <div class="sm:col-span-3">
              <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5">
                Fakultas
              </label>
            </div>

            <div class="sm:col-span-9">
              <input id="af-account-email" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" value="<%= mahasiswa.fakultas %>" disabled />
            </div>

            <div class="sm:col-span-3">
              <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5">
                Departemen
              </label>
            </div>

            <div class="sm:col-span-9">
              <input id="af-account-email" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" value="<%= mahasiswa.departemen %>" disabled />
            </div>

            <div class="sm:col-span-3">
              <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5">
                Alamat
              </label>
            </div>

            <div class="sm:col-span-9">
              <input id="alamat" name="alamat" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" value="<%= mahasiswa.alamat %>" />
            </div>
          </div>

          <div class="mt-5 flex justify-end gap-x-2">
            <button onclick="back()" type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
              Cancel
            </button>
            <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none">
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      function back() {
        window.history.back();
      }
    </script>
    <script>
      const form = document.getElementById("changeProfileForm");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        try {
          const response = await fetch("/mahasiswa/ubahProfile", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              alamat: form.elements.alamat.value,
            }),
          });

          if (response.ok) {
            Swal.fire("Sukses", "Profile berhasil diubah", "success").then(() => {
              window.location.href = "/mahasiswa/profile";
            });
          } else {
            const data = await response.json();
            Swal.fire("Gagal!", data.message, "error");
          }
        } catch (error) {
          Swal.fire("Gagal!", "Terjadi kesalahan pada server", "error");
        }
      });
    </script>

    <script src="/sweetalert2.all.min.js"></script>
    <script src="/preline.js"></script>
  </body>
</html>
